/* .landingPage_snapContainer {
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: 100vh;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.landingPage_snapContainer::-webkit-scrollbar {
    display: none;
}
   */