@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.carousel {
  height: 25em;
  width: 60em;
  margin: auto;
  margin-top: 2em;
}

.columns h6 {
  letter-spacing: 2px;
  font-size: large;
}
