html {
    --scrollbarBG: black;
    --thumbBG: #7F81BA;
    --gradBG: #26284C;
}
body::-webkit-scrollbar {
    width: 12px;
}
body {
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
    /* background-image: linear-gradient(var(--thumbBG), var(--gradBG)); */
    background-color: var(--thumbBG) ;
    border-radius: 999px;
}

* {
    margin: 0;
    font-family: roboto;
}
