@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.BlogPosts{
    margin: 4em 0;
    font-family: Roboto;
}
.BlogPosts>.bc_Header{
    display: inline-block;
}
.BlogPosts>.bc_Header>.bc_heading_underline {
    height:2px;
    width:70%;
    margin-top: 8px;
    background-color: #2B069D;
}
.BlogPosts>.bc_Header>h3{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #26284C;
}
.blogcategory {
    display: flex;
    width:80%;
    margin-top: 2em !important;
    background-color: white;
    padding: 1em;
    border-radius: 8px;
}

.blogcategory>img {
    margin: auto ;
    margin-right: 1em;
    width: 11em !important;
    height: 8em;
    object-fit: cover;
    border-radius: 8px;
}

.bc_rightside {
    width: 100% !important;
    margin: auto;
}

.blogcategory>.bc_rightside>h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: -0.01em;
    color: #1E1F3B;
}
.blogcategory>.bc_rightside>p {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #1E1F3B;
    margin: 1em 0;
    opacity: 0.9;
}
@media screen and (max-width: 840px) {
    .BlogPosts {
        padding: 2em 1em;
        margin:0;
    }
    .BlogPosts>.bc_Header {
        display: inline-block;
    }
    .blogcategory {
        display: inline-block;
        width: 90%;
        padding: 1em;
    }
    .blogcategory>img {
        margin-right: 0;
        width: 100% !important;
        height: 17em;
    }
    .bc_rightside {
        margin-top: 1em;
    }
}
@media screen and (max-width: 600px) {
    .BlogPosts>.bc_Header>h3 {
        font-size: 15px;
    }
    .blogcategory{
        margin-top: 1em !important;
    }
    .blogcategory>img {
        height: 13em;
    }
    .blogcategory>.bc_rightside>h4 {
        font-size: 17px;
        line-height: 135%;
    }
    .blogcategory>.bc_rightside>p {
        font-size: 12.5px;
        line-height: 140%;
        margin: 1em 0;
    }
}